/* 전체 배경 스타일 */
.custom-bg-image {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

/* 폼을 담고 있는 래퍼 */
.form-wrapper {
  background-color: rgba(0, 0, 0, 0.7);;
  background-image: url('../../../public/background_banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}

/* 로그인 폼 및 회원가입 폼의 위치 지정 */
.login-form,
.register-form {
  position: absolute;
  width: 40%;
  height: 55%;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease-in-out;
}

/* 로그인 폼 스타일 */
.login-form {
  z-index: 1;
  transform: scale(0.9) translateX(-40%);
  opacity: 0.8;
}

/* 회원가입 폼 스타일 */
.register-form {
  z-index: 2;
  transform: scale(1) translateX(0);
}

/* 로그인에 포커스가 있을 때 */
.form-wrapper.focus-login .login-form {
  z-index: 2;
  transform: scale(1) translateX(0);
  opacity: 1;
}

.form-wrapper.focus-login .register-form {
  z-index: 1;
  transform: scale(0.9) translateX(40%);
  opacity: 0.8;
}

/* 회원가입에 포커스가 있을 때 */
.form-wrapper.focus-register .register-form {
  z-index: 2;
  transform: scale(1) translateX(0);
  opacity: 1;
}

.form-wrapper.focus-register .login-form {
  z-index: 1;
  transform: scale(0.9) translateX(-40%);
  opacity: 0.8;
}

/* 공통 스타일 */
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.auth-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: black;
}

.auth-link {
  margin-top: 15px;
  color: black;
  cursor: pointer;
}

.auth-link b {
  text-decoration: underline;
}
