/* 기본 애니메이션 */
@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
/* 전체 컨테이너 */
.custom-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/background_banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.custom-container {
  background-color: white;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-container.slide-in {
  animation: fade-slide-in 0.4s ease forwards;
}

.custom-container.slide-out {
  animation: fade-slide-out 0.4s ease forwards;
}

/* 제목 */
.custom-title {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 1.5rem;
}

/* 입력 필드 */
.custom-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #e50914;
  outline: none;
}

/* 체크박스 */
.custom-checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.custom-checkbox {
  margin-right: 0.5rem;
}

.custom-checkbox-label {
  color: #222;
}

/* 버튼 스타일 */
.custom-button {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.custom-button:hover {
  background-color: #b20710;
}

.custom-button:active {
  background-color: #8a060b;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* 계정 전환 링크 */
.custom-link {
  color: #e50914;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #b20710;
}

.custom-link:active {
  color: #8a060b;
}

/* 에러 메시지 */
.custom-error-message {
  color: #b20710;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
