/* 전체 타이틀 카드 컨테이너 */
.titlecards {
  display: block;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  
  .titlecards h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bolder;
  }
  
  .titlecard-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titlecard {
    position: relative;
    width: 200px;
    margin: 10px;
  }

  .titlecard img {
    width: 100%;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .icon-button {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    cursor: pointer;
  }
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .scroll-button {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 200px;
  }

  /* 카드 리스트 컨테이너 (수평 스크롤 적용) */
  .titlecard-list {
    display: flex;
    overflow-x: auto; /* 수평 스크롤 활성화 */
    gap: 15px; /* 카드 사이 간격 */
    padding-bottom: 10px;
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
    max-width: 80%;
  }
  
  /* 스크롤바 숨기기 (웹킷 브라우저) */
  .titlecard-list::-webkit-scrollbar {
    display: none;
  }
  
  /* 개별 카드 스타일 */
  .titlecard {
    min-width: 150px;
    max-width: 150px;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

  }
  
  .titlecard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .titlecard p {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
  }
  
  /* 호버 시 확대 효과 */
  .titlecard:hover {
    transform: scale(1.1);
  }
  
  /* 반응형 조정 */
  @media (max-width: 768px) {
    .titlecard {
      width: 100%;
      min-width: 120px;
      max-width: 120px;
    }
  
    .titlecard img {
      height: 150px;
    }
  
    .titlecard p {
      font-size: 0.9rem;
    }
  }
  